*.lnk
.gloa.*
local/

/*.lua
/*.sublime-*
/.run
/examples/
/output/
/temp/

/exportTemplates/*
!/exportTemplates/default*.lua

/gfx/appIcon*.*
!/gfx/appIcon.psd
!/gfx/appIcon16.png
!/gfx/appIcon256.png
